{% extends 'base.html.twig' %}

{% block title %}Ajouter un compte Client{% endblock %}

{% block body %}
    {{ include('client/_form.html.twig') }}

    {# <a href="{{ path('app_client_index') }}">back to list</a> #}
{% endblock %}
