{% extends 'base.html.twig' %}

{% block title %}Réussite achat{% endblock %}

{% block body %}
	<p class="alert alert-success">
		Merci pour votre achat sur notre plateforme. Votre achat a été effectué avec succès.
	</p>
{% endblock %}
