{% extends 'base.html.twig' %}

{% block title %}Réussite achat{% endblock %}

{% block body %}
	<p class="alert alert-danger">
		Désolé!!!! Un problème est survenue. Votre achat n'a pas pu s'effcetué correctement.
	</p>
{% endblock %}
