{% extends 'base.html.twig' %}

{% block title %}New ZoneLivraison{% endblock %}

{% block body %}
    <h1>Create new ZoneLivraison</h1>

    {{ include('zone_livraison/_form.html.twig') }}

    <a href="{{ path('app_zone_livraison_index') }}">back to list</a>
{% endblock %}
